/* Reset some default styles */
body,
h1,
p {
  margin: 0;
  padding: 0;
}

/* Set a gradient background */
body {
  width: 100%;
  background: linear-gradient(135deg, #6a11cb, #2575fc, #43e97b);
  font-family: Arial, sans-serif;
  color: #333;
}

header {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 2.5rem;
  color: black;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
}

.container {
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Login box styling */
.login-box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 40px;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

h1 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
}

.selection select {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1rem;
  margin-bottom: 20px;
  cursor: pointer;
}

/* Input field styling */
.input-field {
  position: relative;
  margin: 20px 0;
}

.input-field i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #fff;
}

.text-input {
  width: 100%;
  padding: 12px 50px;
  border-radius: 25px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.text-input:focus {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.text-input::placeholder {
  color: #ddd;
}

/* Button styling */
.button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background-color: #00bcd4;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0097a7;
}

/* Additional elements */
.forgot-password p,
.signup p {
  margin: 20px 0;
  color: #ddd;
}

.forgot-password p:hover,
.signup a:hover {
  color: #fff;
}

.signup a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
